* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background-color: #FCFCFC;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    background-color: #172499;
    height: 100px; 
    width: 100%;
}

header img {
    margin-top: 15px;
}

.slideshow {
    background-color: #f6f930;
    width: 70%;
    height: 500px;
}